* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%);
}
main {
    width: 90%;
    max-width: 720px;
    margin: 2em auto;
}
section {
    padding: 2em;
}
section:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 8px 0 0;
}
section:nth-child(1) button {
        color: hsl(31, 77%, 52%) !important;
    }
section:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}
section:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}
section:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 8px 8px;
}
section:nth-child(3) button {
    color: hsl(179, 100%, 13%);
}
h1 {
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.8em 0;
}
p {
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
}
button {
    font-family: 'Lexend Deca';
    background-color: white;
    border-radius: 24px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: small;
    margin: 1em 0;
    border: none;
}

@media screen and (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        max-width: 960px;
    }
    section:nth-child(1) {
        border-radius: 8px 0 0 8px;
    }
    section:nth-child(2) {
        background-color: hsl(184, 100%, 22%);
    }
    section:nth-child(3) {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 8px 8px 0;
    }
}
